# Python Assessment 1

In [2]:
'''1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6'''
#Solution 1.
Value = ('hello', -87.8 , 6)
Expressions =('*', '-', '/', '+')

In [3]:
Value

('hello', -87.8, 6)

In [5]:
Expressions

('*', '-', '/', '+')

In [8]:
'''2. What is the difference between string and variable?'''
#Solution 2.
String = "String is a kind of a data type which can store values. Example s = 'Smriti' , t = 'Tiwari'"
Variable = "Variable is a storage created for any kind of data type. A variable can store a string value. Example a = 'names' , b = 'Surname' "

In [9]:
String

"String is a kind of a data type which can store values. Example s = 'Smriti' , t = 'Tiwari'"

In [10]:
Variable

"Variable is a storage created for any kind of data type. A variable can store a string value. Example a = 'names' , b = 'Surname' "

In [13]:
'''3. Describe three different data types.'''
#Solution 3. 
Boolean = 'The boolean value is stored as true(1) or false(0). It is basically Yes or No. For Example is Apple a Fruit - Yes. This data type represents logical values.'
Integer = 'Any whole number can be represented by interger type. For example a = 3 , b = 5 '
Float = 'Float can store all the decimal values. For example x = 6.32, y = 98.24'

In [14]:
Boolean

'The boolean value is stored as true(1) or false(0). It is basically Yes or No. For Example is Apple a Fruit - Yes. This data type represents logical values.'

In [16]:
Integer

'Any whole number can be represented by interger type. For example a = 3 , b = 5 '

In [17]:
Float

'Float can store all the decimal values. For example x = 6.32, y = 98.24'

In [22]:
'''4. What is an expression made up of? What do all expressions do?'''
#Solution 4. 
expression = 'An expression is made up of variable and operators. An expression gives a value. For example a + b = 5, or a = 4 - 8. All expressions represents a value.'

In [23]:
expression

'An expression is made up of variable and operators. An expression gives a value. For example a + b = 5, or a = 4 - 8. All expressions represents a value.'

In [24]:
'''5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?'''
#Solution 5.
expressionvsstatement = 'Like in the question spam = 10 is a statement, Statement defines a value, there are no operators and operation needed to extract the value from a statement but in an expression a value can be extracted by surther working/solving the experession. For example, a + 4 = 5 is an expresession but a = 1 is a statement'

In [25]:
expressionvsstatement

'Like in the question spam = 10 is a statement, Statement defines a value, there are no operators and operation needed to extract the value from a statement but in an expression a value can be extracted by surther working/solving the experession. For example, a + 4 = 5 is an expresession but a = 1 is a statement'

In [43]:
'''6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1'''
#Solution 6. 
Sol6 = '23 as bacon is a interger and adding 1 to it will increase the value of this interger by 1, as concadination is possible in intergers. as shown below'

In [44]:
Sol6

'23 as bacon is a interger and adding 1 to it will increase the value of this interger by 1, as concadination is possible in intergers. as shown below'

In [31]:
bacon = 22

In [32]:
bacon + 1

23

In [41]:
'''7. What should the values of the following two terms be? 
'spam' + 'spamspam'
'spam' * 3'''
#Solution 7.
Spam = "Both 'spam' + 'spamspam' and 'spam' * 3 will give the same result, 'spamspamspam' as shown below"

In [42]:
Spam

"Both 'spam' + 'spamspam' and 'spam' * 3 will give the same result, 'spamspamspam' as shown below"

In [39]:
'spam' + 'spamspam'

'spamspamspam'

In [40]:
'spam' * 3

'spamspamspam'

In [45]:
'''8. Why is eggs a valid variable name while 100 is invalid?'''
#Solution 8
variablename = ' Eggs can be a vailable name but not 100 as any variable name cannot start with a number. A number can be added in the middle or end of the name but not in the begining. that will give an error. Example below '

In [47]:
variablename

' Eggs can be a vailable name but not 100 as any variable name cannot start with a number. A number can be added in the middle or end of the name but not in the begining. that will give an error. Example below '

In [48]:
eggs = 100

In [49]:
eggs

100

In [50]:
100='eggs'

SyntaxError: can't assign to literal (1986374539.py, line 1)

In [54]:
'''9. What three functions can be used to get the integer, floating-point number, or string
version of a value?'''
#Solution 9.
function = " Function for interger = int(), floating point = float(), and string = str()"

In [55]:
function

' Function for interger = int(), floating point = float(), and string = str()'

In [61]:
'''10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos.'
'''
#Solution 10. 
Sol10 = 'This expression is giving error as string and integer concadination is not possible. The solution to correct this expression is making 99 a string. As shown below'

In [60]:
'I have eaten' + ' 99 ' + 'burritos.'

'I have eaten 99 burritos.'